/*** style.css ***/

@charset "UTF-8";

body
{ background-color: rgb(255,255,255)
; font-family: Georgia, serif
; color: rgb(0,0,255)
}

p
{ font-size: 28px
; font-family: Verdana, arial, sans-serif
}